/Untitled-1.ipynb
/Untitled-2.ipynb
/cifar-10-example.ipynb
/clip_zero_shot_cifar-10.py
/coco_karpathy_train_.json
/cococap_dataset.ipynb
/conda_bhavin.txt
/create_coco_karpathy_json.ipynb
/cuda_check.py
/hf_lit_clip_test.ipynb
/hf_lit_vit_test.ipynb
/lightning-example.ipynb
/pytorch_example.py
/test-1.ipynb
/test-2.ipynb
/test.py
/timm-vit-example.ipynb
/train_model.py
/vision_text_dual_encoder.ipynb