/old
/to-do
/wandb
/debug
/LLaVA-CC3M-Pretrain-595K
/models
/multimodal
utils/__pycache__
callbacks/__pycache__
/__pycache__
/.vscode
/.nfs0000000007ef05f30000072b
my_datasets/__pycache__
my_datasets\__pycache__
.ipynb_checkpoints/
.DS_Store
.env
slurm/logs
debugging.ipynb
testing_folder/
analysis/
config.env
